.container-2{
    display:flex;
        flex-wrap:wrap;
    justify-content: left;
}
.button{
    position :relative;
    background-color : gray;
    border : none;
    text-align:center;
    transition-duration: 0.5s;
    transition : all 0.8s;

}
.button :active:after{
    opacity:1;
}
.container-2 img{
    height : 200px;
    width :200px;
    padding:8px;
    margin : 10px;
    box-shadow:0px 3px 20px solid black;
    background : linear-gradient(to right , red , purple);
}
#amount{
    font-size : 50px;
    color:blue;
    background-color: burlywood;
}